canvas {
    left: 0;
    top: 0;
    position: fixed;
}

div {
    position: fixed;
    color: #fff;
    font-family: monospace;
    background: rgba(0,0,0,0.5);
}

div#h {
    padding: 16px;
    font-size: 32px;
}

div#p,div#m {
    font-size: 80px;
    padding: 40px;
}

* {
    touch-action: none;
}
